/* 設定UI */
div.settings-container {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    transition: right 0.5s ease-in-out, box-shadow 0.5s;
}

div.settings-container:hover {
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
}

div.settings-container .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    padding: 5px;
    cursor: pointer;
}

div.settings-container .close-icon:hover {
    background-color: #ddd;
}

.settings-container h2 {
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

.settings-container p {
    font-size: 16px;
    color: #666;
}

.settings-container ul {
    padding: 0;
    margin: 30px;
}

.settings-container ul li {
    margin: 10px 0;
}