html, body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #f0f0f0;
}

/* General styles */
.accent-color {
    color: #1976d2; /* Primary color */
}
.large-border-radius {
    border-radius: 20px; /* Large border radius */
}
.small-border-radius {
    border-radius: 10px; /* Small border radius */
}

/* Header styles */
header {
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    font-size: 24px;
}
header a {
    color: white;
    text-decoration: none;
}
header h1 img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
header span.user-icon-container {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-color: white;
    border-radius: 50%;
}
header span.user-icon-container img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border-radius: 50%;
}

/* Loading styles */
div.loading {
    /* ローディング画面のスタイル */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* 半透明の背景 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure loading screen is above other content */
}
div.loading img.loading-icon {
    /* ローディングアイコンのスタイル */
    position: relative;
    transform: translate(-50%, -50%); /* 中央に配置 */
    width: 64px;
    height: 64px;
}

/* Popup styles */
div.popup {
    /* ポップアップを中央に配置 */
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure popup is above other content */
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Set a fixed width for the popup */
    max-width: 90%; /* Ensure it doesn't exceed viewport width */
    max-height: 80%; /* Limit height to prevent overflow */
    padding: 20px;
}
.popup button.close-popup-button {
    /* 右上に配置 */
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
}
.popup h2.popup-title {
    /* タイトルのスタイル */
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    color: #333;
}
.popup button.close-popup-button img {
    /* アイコンのサイズを調整 */
    width: 24px;
    height: 24px;
}
.popup form {
    /* フォームのスタイル JavaScriptで表示・非表示を制御 */
    /* display: none; Initially hidden */
    display: flex; /* Use flexbox for layout */
    flex-direction: column;
    /* align-items: center; */
    gap: 10px; /* Space between form elements */
    /* padding: 20px 30px; */
    margin: 10px 30px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}
.popup form h2 {
    /* フォームのタイトル */
    margin: 0 0 20px;
    text-align: center;
    font-size: 20px;
    color: #333;
}
.popup form h2 img {
    /* アイコンのサイズを調整 */
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
.popup form label {
    /* margin-bottom: 5px; */
    font-weight: bold;
}
.popup form input {
    width: 100%; /* Full width */
    height: inherit;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.popup form input.invalid {
    border-color: red; /* Invalid input border color */
}
.popup form button {
    padding: 10px;
    background-color: #1976d2;
    color: white;
    border: none;
    cursor: pointer;
}
.popup form button:hover {
    background-color: #155a8a; /* Darker shade on hover */
}
.popup form p {
    margin: 10px 20px;
    font-size: 14px;
}
.popup form p.error-message {
    color: red; /* Error message color */
    font-weight: bold;
}

/* main  */
main {
    padding: 20px;
    background-color: #fff;
}
main div.container {
    margin-left: 40px;
    border: 1px solid #ddd;
}
main div.line {
    background-color: #eee;
    padding: 8px;
}
main div button {
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
main div img {
    /* width: 32px;
    height: 32px; */
    /* width: 1rem; */
    height: 2em;
    vertical-align: middle;
}
main div.content {
    display: inline-block;
    vertical-align: middle;
}

main .level-0 {
    font-size: 24px;
}
main .level-1 {
    font-size: 18px;
}
main .level-2 {
    font-size: 16px;
}
main .level-3 {
    font-size: 14px;
}
main .level-4 {
    font-size: 12
}
main .level-5 {
    font-size: 10px;
}
main .level-6 {
    font-size: 8px;
}
main .level-7 {
    font-size: 6px;
}
main .level-8 {
    font-size: 4px;
}
main .level-9 {
    font-size: 2px;
}




/* Line styles */
div.line-container {
    /* レコードコンテナのスタイル */
    flex: 1 1 auto; /* Allow the container to grow and shrink */
    min-width: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: stretch;
    background-color: #eee;
    /* border: #aaa solid 1px; */
    /* box-shadow: #bbb 0.5em 0.5em 1em; */
    /* box-shadow: #ddd 0.5em 0.5em 1em; */
    /* margin: 0.5em; */
    gap: 0;
}
div.line-container:hover {
    box-shadow: #ddd 0.5em 0.5em 1em;
    transition: box-shadow 0.5s; /* Add transition for box-shadow */
}
div.line-container img {
    /* トグルアイコンのスタイル */
    flex: 0 0 auto; /* Prevent flex-grow and flex-shrink */
    width: 2em;
    cursor: pointer;
    /* margin:0.5em; */
    padding: 0.5em;
    background-color: #fff;
}
div.line-container img:hover {
    /* トグルアイコンのホバー時のスタイル */
    background-color: #ddd;
    transform: background-color 1s; /* 背景色の変化にアニメーションを追加 */
}
div.line-container div.record-line {
    /* レコード行のスタイル */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-items: stretch; */
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    /* border: #ddd solid 1px; */
    padding: 0.5em;
}
div.line-container .record-content {
    /* レコード内容のスタイル */
    flex: 1 1 auto;
    /* margin: 0 0.5em; */
    padding: 0.5em;
    font-size: 1.2em;
    color: #333;
    overflow-wrap: break-word;   /* 長い単語やURLも折り返す */
    word-break: break-all;       /* 必要なら途中で折り返す */
    white-space: normal;         /* 折り返しを許可 */
    min-width: 0;
    max-width: 100%;
}
div.line-container .record-content:hover {
    /* レコード内容のホバー時のスタイル */
    background-color: #ddd; /* 背景色を薄くする */
    transform: background-color 0.2s; /* 背景色の変化にアニメーションを追加 */
}
div.line-container .children-container {
    flex: 1 1 auto; /* Allow the container to grow and shrink */
    min-width: 0;
    max-width: 100%;
    display: none;
    flex-direction: column;
    background-color: #ddd;
    /* width: 100%; Full width of the container */
    /* background-color: #bbb; */
    /* padding-left: 3em; */
    /* margin: 0.5em; */
    margin-left: 3em;
    /* margin-bottom: 0.5em; */
    /* gap: 0.5em; Space between child records */
}
div.line-container img.add-icon {
    width: 0.5em;
    height: 0.5em;
    /* width: 1em;
    height: 1em; */
    border-radius: ;
    /* margin-left: 1.5em; */
    margin-left: 3.5em;
    /* margin-bottom: 0.5em; */
}
