@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

/* 基本設定 */
html, body {
    margin: 0;
    padding: 0;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background-color: #f0f0f0;
}

/* 汎用クラス */
.theme-color { color: #333; }
.theme-background-color { background-color: #333; }
.sub-color { color: #ddd; }
.sub-background-color { background-color: #ddd; }
.accent-color { color: #37d; }
.accent-background-color { background-color: #37d; }

.large-border-radius { border-radius: 20px; }
.small-border-radius { border-radius: 10px; }

/* ヘッダー */
header {
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1.logo {
    margin: 0;
    padding: 5px;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}
header h1.logo a {
    color: inherit;
    text-decoration: none;
}
header .logo a img {
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
    vertical-align: -7%;
    vertical-align: -30%;
}
header img.user-icon {
    width: 32px;
    height: 32px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* ローディング画面 */
div.loading {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
div.loading img.loading-icon {
    position: relative;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
}

/* ポップアップ */
div.popup {
    display: flex;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    width: 400px;
    max-width: 90%;
    max-height: 80%;
    padding: 20px;
}
.popup img.close-popup-icon {
    position: absolute;
    top: 16px; right: 16px;
    width: 24px; height: 24px;
    padding: 5px;
    cursor: pointer;
}
.popup img.close-popup-icon:hover {
    background-color: #ddd;
}
.popup form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 30px;
    width: 100%;
    height: 100%;
}
.popup h2.popup-title {
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    color: #333;
}
.popup h2.popup-title img {
    width: 1em;
    height: 1em;
}
.popup form label {
    font-weight: bold;
}
.popup form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.popup form input.invalid {
    border-color: red;
}
.popup form button {
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.popup form button:hover {
    background-color: #26a;
}
.popup form p {
    margin: 10px 20px;
    font-size: 14px;
}
.popup form p.error-message {
    color: #f00;
    font-weight: bold;
}

/* 設定UI */
div.settings-container {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    transition: right 0.5s ease-in-out, box-shadow 0.5s;
}
div.settings-container:hover {
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
}
div.settings-container .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    padding: 5px;
    cursor: pointer;
}
div.settings-container .close-icon:hover {
    background-color: #ddd;
}
.settings-container h2 {
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}
.settings-container p {
    font-size: 16px;
    color: #666;
}
.settings-container ul {
    padding: 0;
    margin: 30px;
}
.settings-container ul li {
    margin: 10px 0;
}

/* メイン */
main {
    padding: 20px;
    background-color: #fff;
}


main .level-0 { font-size: 24px; }
main .level-1 { font-size: 18px; }
main .level-2 { font-size: 16px; }
main .level-3 { font-size: 14px; }
main .level-4 { font-size: 12px; }
main .level-5 { font-size: 10px; }
main .level-6 { font-size: 8px; }
main .level-7 { font-size: 6px; }
main .level-8 { font-size: 4px; }
main .level-9 { font-size: 2px; }

/* レコード行 */
div.line-container {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #eee;
    gap: 0;
}
div.line-container:hover {
    box-shadow: #ddd 0.5em 0.5em 1em;
    transition: box-shadow 0.5s;
}
div.line-container img {
    flex: 0 0 auto;
    width: 2em;
    cursor: pointer;
    padding: 0.5em;
    background-color: #fff;
}
div.line-container img:hover {
    background-color: #ddd;
}
div.line-container div.record-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    padding: 0.5em;
}
div.line-container .record-content {
    flex: 1 1 auto;
    padding: 0.5em;
    font-size: 1.2em;
    color: #333;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    min-width: 0;
    max-width: 100%;
}
div.line-container .record-content:hover {
    background-color: #ddd;
}
div.line-container .children-container {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%;
    display: none;
    flex-direction: column;
    background-color: #ddd;
    margin-left: 3em;
}
div.line-container img.add-icon {
    width: 0.5em;
    height: 0.5em;
    margin-left: 3.5em;
}
