@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;600;700;900&display=swap');

.light {
    --main-text: #333;
    --accent-text: #24b;
    --icon-filter: invert(0.15);
    --icon-hover-filter: invert(0.25);
    --main-background: #eee;
    --sub-background: #fff;
    --hover-background: #ddd;
    /* --accent-background: #24b; */
    --hover-shadow: rgba(0, 0, 0, 0.3);
    --shadow: 0.1em 0.1em 0.5em -0.1em rgba(0, 0, 0, 0.3);
    --radius: 0.5rem;

    --transition-time: 0.2s;
    --transition-ease: ease-in-out;
}
.dark {
    --main-text: #eee;
    --accent-text: #24b;
    --icon-filter: invert(0.85);
    --icon-hover-filter: invert(0.75);
    --main-background: #222;
    --sub-background: #333;
    --hover-background: #444;
    /* --accent-background: #24b; */
    --hover-shadow: rgba(0, 0, 0, 0.6);
    --shadow: 0.1em 0.1em 0.5em -0.1em rgba(255, 255, 255, 0.6);
}

html, body {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin: 0;
    padding: 0;
    background-color: var(--main-background);
    color: var(--main-text);
}

body > .control {
    font-size: 0.75em;
    display: inline-block;
    position: fixed;
    top: 1em;
    z-index: 500;
    /* box-shadow: 0.1em 0.1em 0.5em -0.1em var(--hover-shadow); */
    cursor: pointer;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    border-radius: 50%;
    filter: var(--icon-filter);
    background-color: white;
    box-shadow: var(--shadow);
    transition: filter 0.1s ease-in-out;
}
body > .control:hover {
    filter: var(--icon-hover-filter);
}



.note {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    position: sticky;
    top: 0;
    font-size: max(0.75em, 16px);
    margin: 0.2em;
    background-color: var(--sub-background);
}
.note.expanded { height: auto; }

.note > .content {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--main-background);
    border-radius: 0.5em;
}

.note > .content > img {
    width: 1em;
    height: 1em;
    padding: 0.5em;
    border-radius: 50%;
    filter: var(--icon-filter);
    cursor: pointer;
    transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
}
.note > .content > img:hover { filter: var(--icon-hover-filter);}
.note.expanded > .content > img { transform: rotate(90deg);}

.note > .content > span {
    height: 1.5em;
    overflow: hidden;
    flex-grow: 1;
    padding: 0.2em 0.5em;
    outline: none;
    border-radius: 0.5em;
    transition: background-color 0.2s ease-in-out;
}
.note > .content > span:hover { background-color: var(--hover-background); }
.note.expanded > .content > span {
    height: auto;
    overflow: visible;
}

.note > .children {
    display: none;
    position: relative;
    flex-direction: column;
    padding-left: 1em;
}
.note.expanded > .children {
    display: flex;
}

.context-menu {
    position: absolute;
    display: flex;
    flex-direction: column;

}