@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;600;700;900&display=swap');

/* :root {
    --background-color: #f0f0f0;
    --color-background: #f0f0f0;
    --color-text: #333;
    --color-primary: #6200ea;
    --color-secondary: #03dac6;
    --color-accent: #ff4081;
    --color-error: #b00020;
    --color-warning: #ff9800;
    --color-success: #4caf50;
} */
/* @media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --color-background: #1e1e1e;
        --color-text: #e0e0e0;
        --color-primary: #bb86fc;
        --color-secondary: #03dac6;
        --color-accent: #ff4081;
        --color-error: #cf6679;
        --color-warning: #ff9800;
        --color-success: #4caf50;
    }
} */
/* @media () */

body {
    font-family: 'Zen Maru Gothic', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f0f0f0; */
    /* background-color: var(--background-color, #eee); */
    background-color: light-dark(#eee, #111);
}

.button {
    display: flex;

    align-items: center;
    justify-content: center;
    border: none;
    width: 1em;
    height: 1em;
    /* border-radius: 0.7em; */
    border-radius: 50%;
    padding: 0.2em;
    margin: 0.2em;
    cursor: pointer;
}

.hover:hover {
    box-shadow: 0.1em 0.1em 0.5em -0.1em rgba(0, 0, 0, 0.5);
    /* animation: hover 0.2s ease-in-out; */
    transition: box-shadow 0.2s ease-in-out;
}

/* .hover */

.radius {
    border-radius: 0.5rem;
}

.expanded {
    /* width: 100%; */
    /* height: 100%; */
    height: auto;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.none {
    display: none;
}

.note-container {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* background-color: bisque; */
    /* background-color: var(--color-background, #f0f0f0); */
    /* background-color: white; */
    background-color: light-dark(#fff, #222);
    overflow: hidden;
    /* height: 2em; */
    padding: 0.2em;
}
.note-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0.2em;
    line-height: 1.5em;
    /* height: 10em; */
    /* background-color: yellow; */
    /* background-color: var(--color-background, #f0f0f0); */
    background-color: light-dark(#eee, #333);
    overflow: hidden;
    outline: none;
}
.toggle-icon {
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
img.toggle-icon.expanded {
    transform: rotate(90deg);
}
.note-content-span {
    flex-grow: 1;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    padding: 0.2em;
    white-space: nowrap;
    background-color: light-dark(#ddd, #444);
}
.note-children {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    /* background-color: lightblue; */
}

.settingsDiv {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    /* height: 20em; */
    width: 20em;
    padding: 1em;
    /* background-color: white; */
    /* background-color: var(--color-background, #f0f0f0); */
    background-color: light-dark(#eee, #222);
}