@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;600;700;900&display=swap');

/* :root { */
.light {
    --main-text: #333;
    --accent-text: #24b;
    --icon-filter: invert(0.15);
    --icon-hover-filter: invert(0.25);
    --main-background: #eee;
    --sub-background: #fff;
    --hover-background: #ddd;
    /* --accent-background: #24b; */
    --hover-shadow: rgba(0, 0, 0, 0.3);
}

.dark {
    --main-text: #eee;
    --accent-text: #24b;
    --icon-filter: invert(0.85);
    --icon-hover-filter: invert(0.75);
    --main-background: #222;
    --sub-background: #333;
    --hover-background: #444;
    /* --accent-background: #24b; */
    --hover-shadow: rgba(0, 0, 0, 0.6);
}

html, body {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin: 0;
    padding: 0;
    background-color: var(--main-background);
    color: var(--main-text);
}

.hover:hover {
    background-color: var(--hover-background);
    transition: background-color 0.2s ease-in-out;
}
/* .hover-shadow:hover {
    box-shadow: 0.1em 0.1em 0.5em -0.1em var(--hover-shadow);
    transition: box-shadow 0.2s ease-in-out;
} */

.radius {
    border-radius: 0.5rem;
}

.shadow {
    box-shadow: 0.1em 0.1em 0.5em -0.1em var(--hover-shadow);
}

.button {
    border: none;
    color: var(--main-text);
    border-radius: 1em;
    /* border-radius: 50%; */
    cursor: pointer;
}

.control {
    position: fixed;
    font-size: 0.75em;
    z-index: 500;
    background-color: var(--sub-background);
}

.icon {
    width: 1em;
    height: 1em;
    padding: 0.5em;
    border-radius: 50%;
    background-color: #fff;
    filter: var(--icon-filter);
}
.icon:hover {
    filter: var(--icon-hover-filter);
}