@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

/* 基本設定 */
html, body {
    margin: 0;
    padding: 0;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background-color: #fff;
}

/* 汎用クラス */
.theme-color { color: #333; }
.theme-background-color { background-color: #333; }
.sub-color { color: #ddd; }
.sub-background-color { background-color: #ddd; }
.accent-color { color: #37d; }
.accent-background-color { background-color: #37d; }

.white-background-color { background-color: #fff; }

.light-theme {
    color: #333;
    background-color: #eee;
}

.dark-theme {
    color: #fff;
    background-color: #222;
}

.shadow-on-hover:hover {
    box-shadow: 4px 4px 16px -4px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}
.background-on-hover:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease-in-out;
}

.large-border-radius { border-radius: 20px; }
.small-border-radius { border-radius: 10px; }
.circle-border-radius { border-radius: 50%; }

.button {
    display: inline-block;
    padding: 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

svg {
    fill: #37d;
}

img#loading-icon {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 64px;
    height: 64px;
}

img#setting-icon,
/* img#close-icon, */
div#settings-container {
    position: fixed;
    top: 0; right: 0;
    margin: 20px;
}

img#setting-icon,
img#close-icon {
    /* z-index: 1001; */
    width: 50px;
    height: 50px;
}

#setting-icon {
    z-index:1;
}
/* #close-icon {
    z-index: 3;
} */


/* 設定UI */
.settings-container {
    display: flex;
    flex-direction: column;
    /* display: none; */
    /* right: -100%; */
    width: 300px;
    /* height: 100%; */
    height: 500px;
    z-index: 2;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    /* transition: right 0.5s ease-in-out; */
    /* transition: height 5s ease-in-out, width 5s ease-in-out; */
}

.hidden {
    height: 0px;
    width: 0px;
    padding: 0px;
    overflow: hidden;
    /* transition: height 3s ease-in-out, width 0.3s ease-in-out; */
    transition-duration: 1s;
    transition-property: height, width, padding;
}

/* .settings-container h2 {
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

.settings-container p {
    font-size: 16px;
    color: #666;
}

.settings-container ul {
    padding: 0;
    margin: 30px;
}

.settings-container ul li {
    margin: 10px 0;
} */