# 
NODE_ENV=production

# この文字列は絶対に公開しないでください。もっと長く複雑なものにしてください。
JWT_SECRET=your-super-secret-and-long-string-for-jwt

# アクセストークンの有効期限（例: 15m, 1h, 2d など。推奨: 1h）
JWT_ACCESS_TOKEN_EXPIRATION=1h

# リフレッシュトークンの有効期限
JWT_REFRESH_TOKEN_EXPIRATION=7d

# Google OAuth2の設定
ISSUER_BASE_URL=https://accounts.google.com
CLIENT_ID=ここにGoogleから取得したクライアントIDを貼り付け
CLIENT_SECRET=ここにGoogleから取得したクライアントシークレットを貼り付け
SECRET=セッション暗号化用の長いランダムな文字列（例: openssl rand -base64 32 などで生成）


BASE_URL=http://localhost:3000
# サーバのポート番号
PORT=3000

DOCS_DIR=../docs